@model BusinessLogic.DTOs.CreditDto
@{
    ViewBag.Title = "InstallmentsPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/dataTables.bootstrap4.min.css" />

<div class="row mx-0 justify-content-center visibility3">
    <div class="col mt-5 py-4 jumbotron">
        <h2 class="text-center">Information about your credit</h2>
        <hr />
        <p>
            You have taken out a credit for total amount <strong>@Model.CreditAmount PLN</strong>
            with the percentage rate equal to <strong>@Model.PercentageRate %</strong>.
            Payment is spread out on <strong>@Model.InstallmentCount</strong> installments.
        </p>

        <table id="creditInstallments" class="table table-striped table-bordered w-100 text-center">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Paid on</th>
                    <th>Payment deadline</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>


    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/sweetalert2.all.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script id="installmentsScript" data-creditid="@Model.Id" src="~/Scripts/app/credits/installmentsPage.js"></script>

}