@model WebLibrary.Models.CreditViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row mx-0 mt-5 justify-content-center">
    <div class="col-8 py-4 jumbotron visibility3">
        <h2 class="text-center">Request a credit</h2>
        <hr />

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-danger text-center" role="alert">
                <strong>@ViewBag.Message</strong>
            </div>
        }

        <div class="row mx-0">
            <div class="col pl-0">
                <h3 class="text-center">Simple procedures</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </div>

            <div class="col">
                <h3 class="text-center">Complete the form</h3>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="input-group mt-3">
                        @Html.TextBoxFor(m => m.CreditAmount, new { @class = "form-control", placeholder = "Credit amount", id = "formCreditAmount" })
                        <div class="input-group-append">
                            <span class="input-group-text">PLN</span>
                        </div>
                    </div>

                    <div class="input-group mt-3">
                        <label>Credit period</label>
                        <input type="range" name="CreditPeriodInYears" class="custom-range" id="formPeriodInput" min="1" max="10" />
                        <label id="formPeriodValue"></label>
                    </div>


                    <button type="submit" class="btn btn-primary btn-block mt-3">Obtain</button>
                }

            </div>
        </div>
        <hr />
        <div class="row justify-content-center">
            <div class="col">
                <p class="text-center">
                    Not sure about credit conditions? Use our calculator and customize them to your needs!<br />
                    <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#calculatorModal">Open calculator</button>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="calculatorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content px-4 py-2">
            <div class="modal-header px-0">
                <h5 class="modal-title">Credit calculator</h5>
                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body px-0">

                <form>
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" id="calculatorCreditAmount" placeholder="Credit amount" />
                        <div class="input-group-append">
                            <span class="input-group-text">PLN</span>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input class="form-control" type="text" id="calculatorPercentageRate" placeholder="Percentage rate" />
                        <div class="input-group-append">
                            <span class="input-group-text">%</span>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <label for="creditPeriod">Credit period</label>
                        <input type="range" class="custom-range" value="5" min="1" max="10" step="1" id="calculatorPeriodInput" />
                        <label id="calculatorPeriodValue"></label>
                    </div>

                    <button type="button" id="calculateButton" class="btn btn-primary btn-block">Calculate</button>

                </form>

            </div>
            <div class="modal-footer px-0">
                <div class="alert alert-primary w-100" role="alert" id="creditInfoSuccess"></div>
                <div class="alert alert-danger w-100" role="alert" id="creditInfoError">
                    <strong>An error encountered when processing your request</strong>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{

    <script>
        $(document).ready(function () {

            (function ($) {
                $.fn.inputFilter = function (inputFilter) {
                    return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {
                        if (inputFilter(this.value)) {
                            this.oldValue = this.value;
                            this.oldSelectionStart = this.selectionStart;
                            this.oldSelectionEnd = this.selectionEnd;
                        } else if (this.hasOwnProperty("oldValue")) {
                            this.value = this.oldValue;
                            this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                        }
                    });
                };
            }(jQuery));

            var getYearSpelling = function (value) {
                if (value == 1)
                    return " year";
                else
                    return " years";
            };

            var adjustNumberOfYears = function (elementToAdjust) {
                var currentPeriod = $(elementToAdjust + "Input").val();
                $(elementToAdjust + "Value").html(currentPeriod + getYearSpelling(currentPeriod));
            };

            (function () {
                adjustNumberOfYears("#formPeriod");
                adjustNumberOfYears("#calculatorPeriod");

                $("#formCreditAmount").inputFilter(function (value) {
                    return /^\d*[.,]?\d{0,2}$/.test(value);
                });

                $("#calculatorCreditAmount").inputFilter(function (value) {
                    return /^\d*[.,]?\d{0,2}$/.test(value);
                });

                $("#calculatorPercentageRate").inputFilter(function (value) {
                    return /^\d*[.]?\d*$/.test(value);
                });
                

                $("#formPeriodInput").on("input", function () {
                    var name = $(this).attr("id").replace("Input", "");
                    adjustNumberOfYears("#" + name);
                });

                $("#calculatorPeriodInput").on("input", function () {
                    var name = $(this).attr("id").replace("Input", "");
                    adjustNumberOfYears("#" + name);
                });

                $("#creditInfoSuccess").hide();
                $("#creditInfoError").hide();

            })();

            $("#calculatorModal").on("hidden.bs.modal", function () {
                $("#creditInfoSuccess").hide();
                $("#creditInfoError").hide();
            });

            $("#calculateButton").on("click", function () {
                var amount = $("#calculatorCreditAmount").val();
                var rate = $("#calculatorPercentageRate").val();
                var installments = $("#calculatorPeriodInput").val() * 12;

                var creditDto = {
                    creditAmount: amount,
                    percentageRate: rate,
                    installmentCount: installments
                };

                $.ajax({
                    method: "POST",
                    url: "/api/credits/loancalculator",
                    data: creditDto,
                    success: function (d) {
                        $("#creditInfoError").hide();
                        $("#creditInfoSuccess").html("<strong>" + installments + "</strong>" + " installments, " + "<strong>" + d.toFixed(2) + "</strong>" + " each. Total amount: " + "<strong>" + (installments * d).toFixed(2) + "</strong>");
                        $("#creditInfoSuccess").slideDown();
                    },
                    error: function () {
                        $("#creditInfoSuccess").hide();
                        $("#creditInfoError").slideDown();
                    }
                });
            });
        });
    </script>

}