<div class="col-md-4 visibility4">
    <div class="jumbotron py-5">

        <form class="ml-1">
            <h3 class="display-4 mb-3" align="center">Transfer</h3>
            <label for="name">Name</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="name"/>
            </div>
            <label for="cashAmount">Cash amount</label>
            <div class="input-group mb-3">



                <input type="text" class="form-control" id="cashAmount" />
                <div class="input-group-append">
                    <span class="input-group-text">$</span>
                </div>

            </div>

            <label for="accountNumber">Account number</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="accountNumber" />
            </div>

            <p onclick="submit()" class="btn btn-primary btn-block">Make a transfer!</p>
        </form>

    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script>
    function submit() {
        var dataForm = {
            name: $('#name').val(),
            cashAmount: $('#cashAmount').val(),
            toId: $('#accountNumber').val()
        };
        $.ajax({
            type: "POST",
            url: "/api/MoneyTransfer/Transfer",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(dataForm),
            dataType: "json"
        }).done(function (data) {
            if (data.message == 'Transfer has been successful') {
                Swal.fire('Great!', data.message, 'success');
            } else {
                Swal.fire('Oops!', data.message, 'error');
            }
            var table = $("#lastTransfers").DataTable();
            table.ajax.reload();
        });
    }

</script>


