
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

<div class="col-md-4 visibility4">
    <div class="jumbotron py-5">

        <form id="forma" class="ml-1" method="post">
            <h3 class="display-4 mb-3" align="center">Transfer</h3>
            
            <label for="name">Name</label>
            <div class="input-group mb-3">
                <input type="text"class="form-control" name="name" id="name" />
            </div>
            <label for="cashAmount">Cash amount</label>
            <div class="input-group mb-3">



                <input type="text"  class="form-control" name="cashAmount" id="cashAmount" />
                <div class="input-group-append">
                    <span class="input-group-text">$</span>
                </div>

            </div>

            <label for="accountNumber">Account number</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="accountNumber" id="accountNumber"  />
            </div>

            <input type="submit" class="btn btn-primary btn-block" value="Make a transfer!" />
        </form>

    </div>
</div>



<script>
    $(document).ready(function() {
        $("#forma").validate({
            rules: {
                name: {
                    required: true,
                    minlength: 2
                },
                cashAmount: "required",
                accountNumber: "required"
            },
            messages: {
                name: "Lol",
                cashAmount: "lol2",
                accountNumber: "lol3"
            },
            submitHandler: function (form) {
                var dataForm = {
                    name: $('#name').val(),
                    cashAmount: $('#cashAmount').val(),
                    toId: $('#accountNumber').val()
                };

                $.ajax({
                    type: "POST",
                    url: "/api/MoneyTransfer/Transfer",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(dataForm),
                    dataType: "json"
                }).done(function (data) {
                    if (data.message == 'Transfer has been successful') {
                        Swal.fire('Great!', data.message, 'success');
                    } else {
                        Swal.fire('Oops!', data.message, 'error');
                    }
                    var table = $("#lastTransfers").DataTable();
                    table.ajax.reload();
                });
            }
        });

    });
</script>


