
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/bootstrap.bundle.min.js"></script>
<script src="~/Scripts/jquery-validate.bootstrap-tooltip.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

<div class="col-md-4 visibility4">
    <div class="jumbotron py-5 mb-4">

        <form id="transferForm" class="ml-1" method="post">
            <h3 class="display-4 mb-3" align="center">Transfer</h3>

            <label for="name">Name</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="name" id="name" />
            </div>
            <label for="cashAmount">Cash amount</label>
            <div class="input-group mb-3">



                <input type="text" class="form-control" name="cashAmount" id="cashAmount" />
                <div class="input-group-append">
                    <span class="input-group-text">PLN</span>
                </div>

            </div>

            <label for="accountNumber">Account number</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="accountNumber" id="accountNumber" />
            </div>

            <input type="submit" class="btn btn-primary btn-block" value="Make a transfer!" />
        </form>

    </div>
</div>



<script type="text/javascript" src="~/Scripts/app/shared/partialTransfer.js"></script>

