@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row justify-content-center">

    <div class="col-md-4">
        <div class="jumbotron py-5">

            <form class="ml-1" id="loanForm">
                <h3 class="display-4 mb-5" align="center">New Loan</h3>
                <label for="loanAmount">Loan amount</label>
                <div class="input-group mb-3">

                    <input type="text" class="form-control" id="loanAmount" />
                    <div class="input-group-append">
                        <span class="input-group-text">PLN</span>
                    </div>

                </div>
                <div class="input-group my-3">
                    <label for="totalInstallments">Total installments</label>
                    <input type="range" class="custom-range" id="totalInstallments" min="1" max="20" step="1" />
                    <label id="installmentInfo">installment(s)</label>
                </div>
                <label for="installmentAmount">Installment amount</label>
                <div class="input-group mb-3">
                    <input disabled="disabled" type="text" class="form-control" id="installmentAmount" />
                    <div class="input-group-append">
                        <span class="input-group-text">PLN</span>
                    </div>
                </div>

                <p onclick="submit()" class="btn btn-primary btn-block">Take a loan!</p>
            </form>

        </div>
    </div>
    <div class="col-md-8">
        <div class="jumbotron">
            
            <table id="loans" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Loan amount</th>
                    <th>Loan amount left</th>
                    <th>Installment amount</th>
                    <th>Installments left</th>
                    <th>Next installment date</th>
                    <th>Pay installment</th>
                </tr>
                </thead>
            </table>
            </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="https://cdn.rawgit.com/JDMcKinstry/JavaScriptDateFormat/master/Date.format.min.js"></script>
<script>

    $(document).ready(function() {


        $('#loans').DataTable({
            "ajax": { url: "/api/Loan/GetLoans", dataSrc: "" },
            "paging": false,
            "ordering": false,
            "info": false,
            "searching": false,
            "columns": [
                {
                    "data": "loanAmount" ,
                    "render": function(data, type, row, meta) {
                        return data.toFixed(2).toLocaleString() + " PLN";
                    }
                },
                {
                    "data": "loanAmountLeft",
                    "render": function (data, type, row, meta) {
                        return data.toFixed(2).toLocaleString() + " PLN";
                    } },
                {
                    "data": "installmentAmount",
                    "render": function (data, type, row, meta) {
                        return data.toFixed(2).toLocaleString() + " PLN";
                    } },
                { "data": "installmentsLeft" },
                { "data": "nextInstallmentDate", "render": function(data, type, row, meta) {

                    return data.substring(0,10);
                    }},
                {
                    "data": "id",
                    "render": function(data, type, row, meta) {
                        if (row.installmentsLeft == 0) {
                            return null;
                        }
                        return "<p class='btn btn-warning btn-block payInstallment' value='" + data + "'>Pay!</p>";
                    }
                }

            ],
            "rowCallback": function (row, data, index) {
                var date = new Date().format('Y-m-d');
                if (data.installmentsLeft == 0) {
                    $('td', row).css('background-color', '#50C878');
                } else if (data.nextInstallmentDate < date) {
                    $('td', row).css('background-color', '#e22343');
                }
            }
        });


        $("#loans tbody").on("click",".payInstallment",function() {


            swal.fire({
                title: "Are you sure?",
                text: "Are you sure that you want to pay installment?",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Pay installment!",
                cancelButtonText: "No, cancel!"

            }).then((result) => {
                if (result.value) {
                    var loanId = $(this).attr('value');
                    $.ajax({
                        type: "POST",
                        url: "/api/Loan/PayInstallment",
                        data: {
                            loanId: loanId
                        }
                    }).done(function (data) {
                        swal.fire('Success!', data.message, 'success');
                        var table = $("#loans").DataTable();
                        table.ajax.reload();
                        }).fail(function (data) {
                        swal.fire('Oops!', data.responseJSON.message, 'error');
                    });

                }
            })

           
            
            return false;
        });

    });

    $("#loanForm").change(function() {
        calculate();
        var installmentsNumber = $("#totalInstallments").val();
        $("#installmentInfo").empty();
        $("#installmentInfo").append(installmentsNumber + " installment(s)");
    });
   


    function calculate() {

        var loanAmount = $("#loanAmount").val();
        var totalInstallments = $("#totalInstallments").val();

        var inst = 0;

        for (var i = 1; i <= totalInstallments; i++) {

            inst = inst + (1 / Math.pow((1 + 0.10 / 2), i));
        }
        var installmentAmount = loanAmount / inst;
        $("#installmentAmount").val(installmentAmount.toFixed(2));

    }

   

    function submit() {
        var dataForm = {
            loanAmount: $('#loanAmount').val(),
            installmentAmount: $('#installmentAmount').val(),
            totalInstallments: $('#totalInstallments').val(),
            loanAmountLeft: ($('#totalInstallments').val() * $('#installmentAmount').val()).toFixed(2)
        };
        $.ajax({
            type: "POST",
            url: "/api/Loan/TakeLoan",
            data: dataForm
        }).done(function (data) {
            console.log(data);
            Swal.fire('Great!', data.message, 'success');
            var table = $("#loans").DataTable();
            table.ajax.reload();
            }).fail(function (data) {

                Swal.fire('Oops!', data.responeJSON.message, 'error');

        });
    }

</script>
