

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    @Html.ActionLink("Take Loan","TakeLoan","Loan",new{@class="btn btn-primary"})
    @Html.ActionLink("Pay installment for Id3","PayInstallment","Loan",new{@class="btn btn-primary"})

</div>
