
@{
    ViewBag.Title = "Loans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="https://cdn.rawgit.com/JDMcKinstry/JavaScriptDateFormat/master/Date.format.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/bootstrap.bundle.min.js"></script>
<script src="~/Scripts/jquery-validate.bootstrap-tooltip.min.js"></script>


    <div class="jumbotron py-5 mt-5 mx-2 px-4">
        <h1 class="display-4 text-center mb-5">Your loans</h1>
        <table id="loans" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Loan amount</th>
                    <th>Loan amount left</th>
                    <th>Installment amount</th>
                    <th>Installments left</th>
                    <th>Next installment date</th>
                    <th>Pay installment</th>
                </tr>
            </thead>
        </table>
    </div>


<script type="text/javascript" src="~/Scripts/app/loans/loans.js"></script>