html{
    background: url("Images/seattle.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height:100vh;
    position:relative;
}

body {
    background-color: transparent;
    margin-bottom: 60px;
    /*color: #89b4df;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.visibility {
    opacity: 0.7;
}

.visibility2 {
    opacity: 0.8;
}

.visibility3 {
    opacity: 0.9;
}

.visibility4 {
    opacity:0.95;
}

.jumbo {
    margin-top: 100px !important;
}

.colortest {
    color: #212529;

}

.testing {
    background-color: #e9ecef;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #828687;
    opacity: 0.9;
}

.icon-man {
    content: url("../Content/Images/male icon.png");
    width:128px;
    height:128px;
}

.icon-woman {
    content: url("../Content/Images/female icon.png");
    width: 128px;
    height: 128px;
}

.slide{
    height:100%;
}

label.error{
    color:red;
    font-size: 0.8rem;
    font-weight:bold;
    width:100%;
}

input.error{
    border-color:red;
    border-width:medium;
}

/*.jumbotron {
    background-color: #324359;
    border: 2px solid #8c4130;
}

.form-control {
    background-color: #324359;
    border: 2px solid #d9653b;
}*/
