html{
    background: url("../Content/Images/seattle.jpg") no-repeat center center;
    background-size: cover;
    min-height:100vh;
    position:relative;
    background-attachment:fixed;
}

body {
    background-color:transparent;
    margin-bottom:60px;
    background:inherit;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.visibility {
    opacity: 0.7;
}

.visibility2 {
    opacity: 0.8;
}

.visibility3 {
    opacity: 0.9;
}

.visibility4 {
    opacity:0.95;
}

.jumbo {
    margin-top: 100px;
}

.colortest {
    color: #212529;

}

.testing {
    background-color: #e9ecef;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #828687;
    opacity: 0.9;
}

.icon-man {
    content: url("../Content/Images/male icon.png");
    width:128px;
    height:128px;
}

.icon-woman {
    content: url("../Content/Images/female icon.png");
    width: 128px;
    height: 128px;
}

.frosted-glass-container{
    box-shadow:0 0 1rem 0 rgba(0,0,0,0.2);
    position:relative;
    background:inherit;
    overflow:hidden;
    z-index:1;
    padding: 4rem 2rem;
    border-radius:0.5rem;
}

.frosted-glass-container:before{
    content:"";
    position:absolute;
    background:inherit;
    top:0;
    left:0;
    right:0;
    bottom:0;
    box-shadow: inset 2000px 2000px 2000px rgba(255, 255, 255, 0.6);
    filter: blur(20px);
    margin:-100px;
    z-index:-1;
}