@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/slick.css"/>
<link rel="stylesheet" type="text/css" href="~/Content/slick-theme.css"/>

<div class="jumbotron jumbotron-fluid jumbo visibility2">
    <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>

<div class="row mx-0 slick-slider d-none">
    <div class="col jumbotron mx-1">Sample text</div>
    <div class="col jumbotron mx-1">Sample text</div>
    <div class="col jumbotron mx-1">Sample text</div>
    <div class="col jumbotron mx-1">Sample text</div>
</div>


@section scripts
{
    <script type="text/javascript" src="~/Scripts/slick.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".d-none").removeClass("d-none");

            $(".slick-slider").slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 5000,
                dots: true,
                pauseOnFocus: false,
                pauseOnHover: false,

            });
        });
    </script>
}