@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/slick.css" />
<link rel="stylesheet" type="text/css" href="~/Content/slick-theme.css" />

<div class="jumbotron mt-5 mx-1">
    <div class="container">
        <h1 class="display-5 text-center">Welcome to BANQ - World's greatest bank application</h1>
        <hr />
        <p class="lead">Create an account and explore new possibilities with our awesome application. We have been trusted by 2137 customers already!</p>
    </div>
</div>

<div class="row mx-0 slick-slider d-none flex-row">
    <div class="col slide jumbotron mx-1 my-0 pb-2 pt-4">
        <h3 class="text-center">Resources protection</h3>
        <hr />
        <img src="~/Content/Images/data-protection.jpg&size=1024.jpg" width="300" />
        <hr />
        <p class="text-center">We provide the highest level of security for your money and personal data.</p>
    </div>

    <div class="col slide jumbotron mx-1 my-0  pb-2 pt-4">
        <h3 class="text-center">Customized loans</h3>
        <hr />
        <img src="~/Content/Images/pexels-photo-886465.jpeg" width="300" />
        <hr />
        <p class="text-center">We have a wide offer of loans to match needs of our clients.</p>
    </div>


    <div class="col slide jumbotron mx-1 my-0  pb-2 pt-4">
        <h3 class="text-center">Beneficial investments</h3>
        <hr />
        <img src="~/Content/Images/coins-in-soil-with-young-plants.jpg&size=1024.jpg" width="300" height="200" />
        <hr />
        <p class="text-center">Make the best possible savings with our investments.</p>
    </div>


    <div class="col slide jumbotron mx-1 my-0  pb-2 pt-4">
        <h3 class="text-center">Comfortable transfers</h3>
        <hr />
        <img src="~/Content/Images/e-money.jpg&size=1024.jpg" width="300" height="200" />
        <hr />
        <p class="text-center">Make payments anytime you want with our quick, easy to use transfer system.</p>
    </div>
</div>


@section scripts
{
    <script type="text/javascript" src="~/Scripts/slick.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".d-none").removeClass("d-none");

            $(".slick-slider").slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 5000,
                dots: true,
                pauseOnFocus: false,
                pauseOnHover: false,

            }).
                on("setPosition", function (event, slick) {
                    $(this).find('.slide').height('auto');
                    var slickTrack = $(this).find('.slick-track');
                    var slickTrackHeight = $(slickTrack).height();
                    $(this).find('.slide').css('height', slickTrackHeight + 'px');
                });
        });
    </script>
}