
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row justify-content-center">

    <div class="col-md-4">
        <div class="jumbotron py-5">

            <form class="ml-1">
                <h3 class="display-4 mb-5" align="center">Transfer</h3>
                <label for="cashAmount">Cash amount</label>
                <div class="input-group mb-3">



                    <input type="text" class="form-control" id="cashAmount" />
                    <div class="input-group-append">
                        <span class="input-group-text">$</span>
                    </div>

                </div>

                <label for="accountNumber">Account number</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="accountNumber" />
                </div>

                <button id="submitTransfer" class="btn btn-primary btn-block">Make a transfer!</button>
            </form>

        </div>
    </div>
</div>



<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="~/Scripts/app/moneyTransfer/create.js"></script>

