@using WebLibrary.IdentityExtensions

@{
    ViewBag.Title = "Transfers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center visibility4">
    <div class="col  pt-4 pb-1  jumbotron">
        <table id="lastTransfers" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Transfer Id</th>
                    <th>From</th>
                    <th>To</th>
                    <th>CashAmount</th>
                    <th>Date</th>
                </tr>
            </thead>
        </table>
        @Html.ActionLink("Show more!", "Transfers", "Transfer", null, new { @class = "btn btn-info btn-block" })

    </div>

</div>



<script>
    $(document).ready(function () {
        var usernameId = @HttpContext.Current.User.Identity.GetUserId().Value;
        $('#lastTransfers').DataTable({
            "ajax": { url: "/api/MoneyTransfer/GetLastFive", dataSrc: "" },
            "paging":   false,
            "ordering": false,
            "info": false,
            "searching": false,
            "columns": [
                { "data": "name" },
                { "data": "id" },
                { "data": "from.userName"},
                { "data": "to.userName" },
                {
                    "data": "cashAmount", "render": function (data, type, row, meta) {
                        if (row.from.id == usernameId) {
                            data = -data;
                        }

                    return data.toFixed(2).toLocaleString() + " PLN";
                } },
                { "data": "createdOn", "render": function(data, type, row, meta) {

                    return data.substring(0,10);
                }}
            ],
            "rowCallback": function(row, data, index) {

                if (data.from.id === usernameId) {
                    $('td', row).css('color', '#ff3232');
                    $('td', row).css('font-weight', '500');
                } else {
                    $('td', row).css('color', '#50C878');
                    $('td', row).css('font-weight', '500');
                }
            }
        });
    });

</script>

